---
import { SITE } from "../lib/site";


---


<!-- HEADER -->
<nav class="navbar navbar-expand-lg fixed-top top-nav">
 <div class="container-fluid">
 <a class="navbar-brand nav-logo" href="./"><img src="assets/logo.png" alt="Ai Mr Ferdy Pro" loading="eager" width="160" height="40"><span>Ai Mr Ferdy Pro</span></a>
 <button class="navbar-toggler" id="ham" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Menu"><span class="navbar-toggler-icon"></span></button>
 <div class="collapse navbar-collapse" id="navLinks">
 <ul class="navbar-nav ms-auto nav-links"><li class="nav-item"><a class="nav-link active" href="./" aria-current="page">Home</a></li><li class="nav-item"><a class="nav-link" href="pg-soft/">PG Soft</a></li><li class="nav-item"><a class="nav-link" href="quickspin/">Quickspin</a></li><li class="nav-item"><a class="nav-link" href="shopeepay-deposit/">ShopeePay Deposit</a></li><li class="nav-item"><a class="nav-link" href="tarung-mesin/">Tarung Mesin</a></li><li class="nav-item"><a class="nav-link" href="yggdrasil/">Yggdrasil</a></li><li class="nav-item"><a class="nav-link" href="new-releases/">New Releases</a></li><li class="nav-item"><a class="nav-link" href="big-time-gaming/">Big Time Gaming</a></li></ul>
 </div>
 </div>
</nav>

